body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.section1-home{
  padding-top: 20px;
  background-color: #F4EFE9;
  width: 100%;
}

.pcimg{
  width: 70%;
}

.section1-h3{
  color: #373F41;
}

.section2-p{
  color: #737B7D;
  margin: 0 20px 50px 20px;
  text-align: justify;
}

.section2-h2{
  color: #E86A50;
  font-size: 1.5rem;
}

.section3-home-curriculo{
  background-color: #F4EFE9;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-left: 20px;
  box-shadow: -10px -3px 20px rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;
}

.cvimg{
  position: absolute;
  width:130px;
  height: 130px;
  margin-right: 200px;
  padding-top: 20px;
}

.h3-cv{
  padding-top: 70px;
  padding-right: 80px;
  color: #373F41;
}

.p-cv{
  padding-top: 10px;
  width: 200px;
  padding-left: 20px;
  color: #373F41;
}

.section3-home-cm{
  background-color: #F4EFE9;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-left: 120px;
  box-shadow: -10px -3px 20px rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;
}

.cmimg{
  position: absolute;
  width:130px;
  height: 130px;
}

.h3-cm{
  padding-top: 60px;
  padding-right: 80px;
  color: #373F41;
}

.p-cm{
  width: 180px;
  padding-left: 35px;
  color: #373F41;
}

.section4-home{
  padding-top: 10px;
  background-color: #F4EFE9;
  width: 100%;
  padding-bottom: 30px;
}

.section4-h2{
  color: #E86A50;
}

.section4-p{
  color: #737B7D;
  padding-bottom: 30px;
}


.recursos-small-p{
padding: 0 40px;
}

.hr1{
  width: 80%;
}

.recursos-small{
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 40px;
}

.section4-recursos{
  background-color: #FFFFFFFF;
  margin: 15px;
  padding-top: 15px;
  border-radius: 10px;
  box-shadow: -10px -3px 20px rgba(0, 0, 0, 0.12);
}

.section1-partners{
  background-color: #F4EFE9;
}

.s1-partners-h1{
  color: #E86A50;
}

.s1-partners-p{
  color:#373F41;
  margin: 0 30px;
}

.s2-partners-h2{
  color: #E86A50;
}

.s2-partners-p{
  color:#373F41;
  margin: 0 25px;
  padding-bottom: 50px;
}

footer{
  margin-top: 30px;
  padding-top: 30px;
  background-color: #373F41;
  color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
}

.upfooter-section{
  padding-bottom: 40px;
}

.footer-media{
  padding: 10px;
}

.bottom-footer{
  margin-top: 30px;
}

.frame-img{
  padding-bottom: 40px;
}

.footer-link{
  text-decoration: none;
  color: white;
}


.partnerimghome{
  width:80px;
  height: 70px;
  margin-top: 10px;
}

.partnerCard{
  border: 1px solid #E2E5E6;
  margin: 10px 10px 10px 40px;
  width: 80%;
  height: 170px;
}

.partnerCard p{
  padding: 0 50px;
}

p{
  color: #737B7D
}